.shop-container {
    display: flex;
}

.product-container {
    /* width: 75%; */
    margin: 0 10px 0 30px;
    border-right: 1px solid red;
}

.card-container{
    width: 25%;
    text-align: center;
}

@media (max-width: 1024px){
    .card-container{
        width: 80%;
    }
}

/* @media (max-width: 425px){
    .card-container{
        width: 100%;
    }
} */